[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "brxx"]
	path = brxx
	url = https://github.com/cran/brxx
	shallow = true
	registered = true
